In [22]:
# import pandas library
import pandas as pd

# import os to test relative join
import os

# files to load (first using direct, second using relative path for practice)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = os.path.join("Resources", "students_complete.csv")

# read the files and store as a pandas DataFrame
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

# # view first five rows
# school_data_df.head()

# #view last five rows
# school_data_df.tail()

# # print
# school_data_df
# student_data_df

# determine if there are any missing values in the school data
student_data_df.notnull().sum()

# determine data types for the school DataFrame
school_data_df.dtypes

# determine data types for the student DataFrame
student_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
dtype: object

In [25]:
# add each prefix and suffix to remove from a list
prefixes_suffixes = ["Dr. ", "Mr. ","Ms. ", "Mrs. ", "Miss ", " MD", " DDS", " DVM", " PhD"]

# iterate through the words in the pre/suff list and replace them with an empty space ("")
for word in prefixes_suffixes:
    student_data_df["student_name"] = student_data_df["student_name"].str.replace(word, "")

student_data_df.head(10)

C:\Users\z002cr1\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84
5,5,Bryan Miranda,M,9th,Huang High School,94,94
6,6,Sheena Carter,F,11th,Huang High School,82,80
7,7,Nicole Baker,F,12th,Huang High School,96,69
8,8,Michael Roth,M,10th,Huang High School,95,87
9,9,Matthew Greene,M,10th,Huang High School,96,84

In [26]:
# combine data from the individual school/student data frames into a single dataset
school_data_complete_df = pd.merge(student_data_df, school_data_df, on=["school_name", "school_name"])

school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [30]:
# # get the total number of students based on all columns
# student_count = school_data_complete_df.count()

# get the total number of students based on the student ID column
student_count = school_data_complete_df["Student ID"].count()
student_count

39170

In [40]:
# # get the total number of unique schools
# school_count = school_data_df["school_name"].count()

# school_count

# get the total number of unique schools from the merged DataFrame
school_count_2 = len(school_data_complete_df["school_name"].unique())

school_count_2

15

In [41]:
# calculate the total budget
total_budget = school_data_df["budget"].sum()

total_budget

24649428

In [43]:
# calculate the average reading score
average_reading_score = school_data_complete_df["reading_score"].mean()

average_reading_score

# calculate the average math score
average_math_score = school_data_complete_df["math_score"].mean()

average_math_score

78.98537145774827

In [45]:
# assign variables for passing math and reading
passing_math = school_data_complete_df["math_score"] >= 70
passing_reading = school_data_complete_df["reading_score"] >= 70

In [56]:
# get all students who are passing math in a new DataFrame
passing_math = school_data_complete_df[school_data_complete_df["math_score"] >= 70]
passing_math.head()

# get all students who aer passing reading in a new DataFrame
passing_reading = school_data_complete_df[school_data_complete_df["reading_score"] >= 70]

Student ID       29370
student_name     29370
gender           29370
grade            29370
school_name      29370
reading_score    29370
math_score       29370
School ID        29370
type             29370
size             29370
budget           29370
dtype: int64

In [61]:
# calculate the number of students passing math
passing_math_count = passing_math["student_name"].count()

# calculate the number of students passing reading
passing_reading_count = passing_reading["student_name"].count()

print(passing_math_count)
print(passing_reading_count)

29370
33610

In [66]:
# calculate the percentage of students who passed math
passing_math_percentage = passing_math_count / float(student_count) * 100

# calculate the percentage of students who passed reading
passing_reading_percentage = passing_reading_count / float(student_count) * 100

print(passing_math_percentage)
print(passing_reading_percentage)

74.9808526933878
85.80546336482001

In [73]:
# calculate the percentage of students who passed both math and reading
passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >=70)]

# calculate the number of students who passed both math and reading
overall_passing_math_reading_count = passing_math_reading["student_name"].count()

overall_passing_math_reading_count

# calculate the overall passing percentage
overall_passing_percentage = overall_passing_math_reading_count / float(student_count) * 100

overall_passing_percentage

65.17232575950983

In [106]:
# Adding a list of values with keys to create a new DataFrame.
district_summary_df = pd.DataFrame(
          [{"Total Schools": school_count,
          "Total Students": student_count,
          "Total Budget": total_budget,
          "Average Math Score": average_math_score,
          "Average Reading Score": average_reading_score,
          "% Passing Math": passing_math_percentage,
         "% Passing Reading": passing_reading_percentage,
        "% Overall Passing": overall_passing_percentage}])
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [107]:
# format the "Total Students" output to have the comma for a thousandths separator
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)

district_summary_df["Total Students"]

0    39,170
Name: Total Students, dtype: object

In [108]:
# format the "Total Budget" output to have the comma for a thousandths spearator, a decimal, and a $
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df["Total Budget"]

0    $24,649,428.00
Name: Total Budget, dtype: object

In [109]:
# Format the columns.
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.1f}".format)

district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.1f}".format)

district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.0f}".format)

district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.0f}".format)

district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.0f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [110]:
# reorder columns
new_column_order = ["Total Schools", "Total Students", "Total Budget", "Average Math Score", "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing"]

# asssign new DataFrame to the new column order
district_summary_df = district_summary_df[new_column_order]

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",79.0,81.9,75,86,65

In [116]:
# determine the school type
per_school_types = school_data_df.set_index(["school_name"])["type"]

# add the per_school_types into a DataFrame for testing
df = pd.DataFrame(per_school_types)

# # calculate the total student count by school using the school_data_df - method 1
# per_school_counts = school_data_df.set_index(["school_name"])["size"]

# calculate the total student count by counting how often a school name appears in the complete_df - method 2
per_school_counts = school_data_complete_df["school_name"].value_counts()

per_school_counts

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [119]:
# get the budget for each school
per_school_budget = school_data_df.set_index(["school_name"])["budget"]

per_school_budget

# calculate the per capita spending
per_school_capita = per_school_budget / per_school_counts

per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [126]:
# # calculate the average math scores
# per_school_averages = school_data_complete_df.groupby(["school_name"]).mean()

# per_school_averages

# calculate the average math and reading test scores
per_school_math = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]

per_school_reading = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

per_school_math
# per_school_reading

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [164]:
# calculate passing scores by creating a filtered DataFrame
per_school_passing_math = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)]

per_school_passing_reading = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)]

# calculate the number of students passing math and passing reading by school
per_school_passing_math = per_school_passing_math.groupby(["school_name"]).count()["student_name"]

per_school_passing_reading = per_school_passing_reading.groupby(["school_name"]).count()["student_name"]

# per_school_passing_math
# per_school_passing_reading

# determine the percentage of passing math and reading scores per school
per_school_passing_math = per_school_passing_math / per_school_counts * 100

per_school_passing_reading = per_school_passing_reading / per_school_counts * 100
per_school_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [177]:
# calculate number of students swho passed both math and reading
per_passing_math_reading = school_data_complete_df[(school_data_complete_df["math_score"] >= 70) & (school_data_complete_df["reading_score"] >= 70)]

per_passing_math_reading.head()

# calculate the number of students who passed both math and reading
per_passing_math_reading = per_passing_math_reading.groupby(["school_name"]).count()["student_name"]

# calculate the overall passing percentage
per_overall_passing_percentage = per_passing_math_reading / per_school_counts * 100

per_overall_passing_percentage

# create a new DataFrame summarizing the by-school stats
per_school_summary_df = pd.DataFrame({
             "School Type": per_school_types,
             "Total Students": per_school_counts,
             "Total School Budget": per_school_budget,
             "Per Student Budget": per_school_capita,
             "Average Math Score": per_school_math,
           "Average Reading Score": per_school_reading,
           "% Passing Math": per_school_passing_math,
           "% Passing Reading": per_school_passing_reading,
           "% Overall Passing": per_overall_passing_percentage})
per_school_summary_df.head()

# format total budget and budget per student columns to include dollar sign, thousands comma, and two decimal places
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)

per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)

# Display the data frame
per_school_summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

In [180]:
# sort and show top five schools
top_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=False)
    
top_schools.head()

# sort and show bottom five schools
bottom_schools = per_school_summary_df.sort_values(["% Overall Passing"], ascending=True)

bottom_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

In [192]:
# get average scores by grade level by school
ninth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]
tenth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]
eleventh_graders = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]
twelfth_graders = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

# group each grade level DataFrame by the school name and average math scores
ninth_grade_math_scores = ninth_graders.groupby(["school_name"]).mean()["math_score"]
tenth_grade_math_scores = tenth_graders.groupby(["school_name"]).mean()["math_score"]
eleventh_grade_math_scores = eleventh_graders.groupby(["school_name"]).mean()["math_score"]
twelfth_grade_math_scores = twelfth_graders.groupby(["school_name"]).mean()["math_score"]

eleventh_grade_math_scores["Pena High School"]

# group each grade level DataFrame by the school name and average reading scores
ninth_grade_reading_scores = ninth_graders.groupby(["school_name"]).mean()["reading_score"]
tenth_grade_reading_scores = tenth_graders.groupby(["school_name"]).mean()["reading_score"]
eleventh_grade_reading_scores = eleventh_graders.groupby(["school_name"]).mean()["reading_score"]
twelfth_grade_reading_scores = twelfth_graders.groupby(["school_name"]).mean()["reading_score"]

twelfth_grade_reading_scores["Shelton High School"]

# combine each grade level Series for average math scores by school into one DataFrame
math_scores_by_grade = pd.DataFrame({
                "9th": ninth_grade_math_scores,
                "10th": tenth_grade_math_scores,
                "11th": eleventh_grade_math_scores,
                "12th": twelfth_grade_math_scores})

math_scores_by_grade.head()

# combine each grade level Series for average reading scores by school into one DataFrame
reading_scores_by_grade = pd.DataFrame({
                    "9th": ninth_grade_reading_scores,
                    "10th": tenth_grade_reading_scores,
                    "11th": eleventh_grade_reading_scores,
                    "12th": twelfth_grade_reading_scores})
reading_scores_by_grade.head()

# format each grade column
math_scores_by_grade["9th"] = math_scores_by_grade["9th"].map("{:.1f}".format)
math_scores_by_grade["10th"] = math_scores_by_grade["10th"].map("{:.1f}".format)
math_scores_by_grade["11th"] = math_scores_by_grade["11th"].map("{:.1f}".format)
math_scores_by_grade["12th"] = math_scores_by_grade["12th"].map("{:.1f}".format)

# make sure the columns are in the correct order
math_scores_by_grade = math_scores_by_grade[
                ["9th", "10th", "11th", "12th"]]

# remove the index name
math_scores_by_grade.index.name = None

# display the DataFrame
math_scores_by_grade.head()

# Format each grade column.
reading_scores_by_grade["9th"] = reading_scores_by_grade["9th"].map("{:,.1f}".format)

reading_scores_by_grade["10th"] = reading_scores_by_grade["10th"].map("{:,.1f}".format)

reading_scores_by_grade["11th"] = reading_scores_by_grade["11th"].map("{:,.1f}".format)

reading_scores_by_grade["12th"] = reading_scores_by_grade["12th"].map("{:,.1f}".format)

# Make sure the columns are in the correct order.
reading_scores_by_grade = reading_scores_by_grade[
                 ["9th", "10th", "11th", "12th"]]

# Remove the index name.
reading_scores_by_grade.index.name = None

# Display the data frame.
reading_scores_by_grade.head()

                       9th  10th  11th  12th
Bailey High School    81.3  80.9  80.9  80.9
Cabrera High School   83.7  84.3  83.8  84.3
Figueroa High School  81.2  81.4  80.6  81.4
Ford High School      80.6  81.3  80.4  80.7
Griffin High School   83.4  83.7  84.3  84.0